.main-event-card {
  width: 40vw;
  height: auto;
  background: white;
  padding: 1rem;
  border-style: solid;
  border-width: 0.05rem;
  border-radius: 0.5rem;
  position: absolute;
  top: 10vh;
  right: 2vh;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
}

.main-tag-container {
  display: flex;
  margin-top: 1rem;
  border: solid;
  border-width: 0.1rem;
  border-radius: 0.5rem;
  background: var(--supporting-blue);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
}

.main-tag-box {
  width: 100%;
  height: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: x-small;
  font-weight: bold;
  margin-left: 1rem;
  margin-bottom: 0;
  padding: 0.4rem 0.4rem;
}

.main-card-image {
  width: 25%;
  height: 4rem;
  object-fit: cover;
  background-position: center, center;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
}

.main-info-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border: none;
  border-radius: 0.5rem;
  border-width: 0.1rem;
  width: 25%;
  background-color: var(--primary);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  height: auto;
}

.rating-style {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.main-right-container {
  width: 65%;
}

.main-bottom {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  height: 100%;
}

.main-card-header {
  display: flex;
  justify-content: space-around;
  padding: left;
  height: 10%;
}
.main-card-header h2 {
  width: 65%;
}

@media screen and (max-width: 850px) {
  .main-event-card {
    width: 90vw;
    height: auto;
    top: 7vh;
  }
  .main-card-image {
    display: none;
  }
  .main-card-header h2 {
    width: 90%;
  }
  .main-bottom p {
    font-size: small;
  }
  .main-tag-box p {
    font-size: xx-small;
  }
}
