.profile-container {
  display: flex;
  justify-content: space-between;
  height: 94vh;
  background-color: var(--supporting-blue);
}

.profile-left-side {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.profile-right-side {
  width: 50%;
  max-height: 94vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.friends-list {
  width: 70%;
  max-height: 40vh;
  border: solid;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
  background-color: white;
}

.crea-atten-buttons {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-bottom: 1rem;
  align-self: flex-start;
  margin-left: 4%;
}

.profile-pic {
  border-radius: 50%;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  height: 20vh;
}

.unleash-the-events {
  height: 70vh;
  width: 100%;
}

@media screen and (min-device-width: 375px) and (max-width: 850px) {
  .profile-left-side {
    width: 100%;
    justify-content: center;
    max-height: 47vh;
  }

  .profile-left-side P {
    font-size: smaller;
  }

  .profile-right-side {
    width: 100%;
    max-height: 47vh;
  }
  .profile-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 94vh;
    background-color: var(--supporting-blue);
  }
  .friends-list {
    margin-top: 3rem;
    width: 70%;
    max-height: 25vh;
  }
  .profile-pic {
    height: 15vh;
  }

  .unleash-the-events {
    height: 25vh;
    width: 100%;
  }
}

@media only screen and (max-device-width: 375px) {
  .profile-left-side {
    width: 100%;
    justify-content: flex-start;
    max-height: 47vh;
  }

  .profile-left-side P {
    font-size: smaller;
  }

  .profile-right-side {
    width: 100%;
    max-height: 47vh;
  }
  .profile-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 94vh;
    background-color: var(--supporting-blue);
  }
  .friends-list {
    margin-top: 1rem;
    width: 90%;
    max-height: 20vh;
  }
  .profile-pic {
    height: 10vh;
  }

  .unleash-the-events {
    height: 25vh;
    width: 100%;
  }
}
