:root {
  --primary: #fbb02d;
  --secondary: #006390;
  --supporting-blue: #adcad6;
  --primary-opaque: rgb(251, 176, 45, 0.75);
  --secondary-opaque: rgb(0, 99, 144, 0.75);
  --supporting-blue-opaque: rgb(173, 202, 214, 0.75);
  --fonts: "Raleway", sans-serif;
  --font-colour: white;
  --font-colour-secondary: black;
}

* {
  font-family: var(--fonts);
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

body {
  background-color: var(--secondary);
  z-index: -2;
}

/* amplify styles for auth */

#root {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
