.event-background {
    position: absolute;
    background-color: #ADCAD6;
    width: 35%;
    height: 95.3vh;
    opacity: 75%;
}

.event-logo {
    position: fixed;
    padding-top: 10rem;
    width: 15%;
    left: 20vh;
    top: -5vh;
}

.input {
    position: fixed;
    left: 10vh;
    top: 20rem;
    width: 46vh;
    padding: 15px 25px;
}

.card-one {
    position: fixed;
    background-color: lightgray;
    font-size: 15px;
    left: 10vh;
    top: 30vh;
    width: 50vh;
}

.card-one-image {
    width: 50vh;
    height: 10rem;
}

.card-one-text {
    padding-top: 2vh;
}

.card-two {
    position: fixed;
    background-color: lightgray;
    font-size: 15px;
    left: 10vh;
    top: 52vh;
    width: 50vh;
}

.card-two-image {
    width: 50vh;
    height: 10rem;
}

.card-two-text {
    padding-top: 2vh;
}

.card-three {
    position: fixed;
    background-color: lightgray;
    font-size: 15px;
    left: 10vh;
    top: 74vh;
    width: 50vh;
}

.card-three-image {
    width: 50vh;
    height: 10rem;
}

.card-three-text {
    padding-top: 2vh;
}