.friends-cards-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
  overflow-x: auto;
  border-radius: 1.5%;
}

.friends-cards-container::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
}

.friends-cards-container::-webkit-scrollbar-track {
  border-radius: 0.5%;
  background-color: rgba(255, 255, 255, 0.3);
}

.friends-cards-container::-webkit-scrollbar-thumb {
  background-image: linear-gradient(45deg, var(--secondary), var(--primary));
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0 3px 13px 1px;
}
@media only screen and (max-device-width: 375px) {
  .friends-cards-container {
    height: 5rem;
  }
}
