 * {
   --primary: #FBB02D;
   --secondary: #006390;
   --supporting-blue: #ADCAD6;
   --fonts: "Raleway", sans-serif;
 }

 .top-left {
   justify-content: space-around;
   height: auto;
   width: 45%;
   position: relative;
   display: flex;
   flex-direction: column;
   align-content: space-around;
   flex-wrap: wrap;
   /* gap: 5px 30px; */
   margin-left: 0;

 }

 .top-right {
   justify-content: center;
   height: auto;
   width: 50%;
   position: relative;
   display: flex;
   flex-direction: column;
   align-content: center;
   flex-wrap: wrap;
   gap: 50px 30px;
   margin: auto;

 }



 .form-container {
   position: absolute;
   height: 70%;
   width: 90%;
   margin: 4% 4% 4% 5%;
   background-color: white;
   border: solid;
   border-radius: 0.5rem;
   background-color: var(--secondary);
 }


 .event-title-box {
   border-style: solid;
   border-width: 0.005rem;
   border-radius: 0.3rem;
   border-color: rgba(0, 0, 0, 0.3);
   margin-top: 3%;
   background-color: white;
 }

 .event-summary-box {
   border-style: solid;
   border-width: 0.005rem;
   border-radius: 0.3rem;
   border-color: rgba(0, 0, 0, 0.3);
   /* margin-right: 10vh; */
   top: 3.5vh;
   background-color: white;
 }

 .event-description-box {
   border-style: solid;
   border-width: 0.005rem;
   border-radius: 0.3rem;
   border-color: rgba(0, 0, 0, 0.3);
   /* margin-right: 10vh; */
   top: 7.5vh;
   background-color: white;
 }

 .tag-area-box {

   border-style: solid;
   border-width: 0.005rem;
   border-radius: 0.3rem;
   border-color: rgba(0, 0, 0, 0.3);
   margin: auto;
   width: 30vw;
   align-items: center;
   justify-content: center;
   background-color: white;
 }

 #event-summary-label {
   font-size: 1.5rem;
   /* margin-right: 35vh; */
   top: 10vh;
 }

 .event-description-label {
   font-size: 1.5rem;
   /* margin-right: 35vh; */
   top: 50vh;
 }

 .accessibility-label-form {
   font-size: 1.7rem;
 }

 .date-time-container {
   /* margin-right: 2vh; */
   /* top: 20vh; */
   display: flex;
   column-gap: 50px;
   margin: auto;
 }

 .time {
   display: flex;
   width: 30rem;
   border: solid;
   /* margin-left: 60vh; */
   background-color: white;
 }

 .date {
   display: flex;
   width: 30rem;
   border: solid;
   /* margin-left: 60vh; */
   background-color: white;
 }

 .create-event-card-container {
   display: flex;

 }

 .buttons {
   display: inline-flex;
   align-items: flex-end;
   justify-content: baseline;
   margin: auto;
   gap: 50px;
   /* margin-top: 7vh; */
 }

 /*
  .hidden {
    display: none;
    /* making it hidden by default */

 .add-event-card-body {
   width: 100%;
   height: 90%;
   display: flex;
   justify-content: space-around;
   align-items: center;
 }

 .outer-div {
   display: flex;
   justify-content: center;
   align-items: flex-end;
   height: 10%;
   width: 100%;
 }

 .behind-form {
   background-color: var(--supporting-blue);
 }