 * {
   --primary: #FBB02D;
   --secondary: #006390;
   --supporting-blue: #ADCAD6;
   --fonts: "Raleway", sans-serif;
 }

 .event-form-container {

   position: fixed;

   height: 70vh;
   width: 50vw;
   margin-top: 15vh;
   margin-left: 45vh;
   display: flex;
   justify-content: center;
   place-items: center;
   background-color: white;
   border: solid;
   border-radius: 0.5rem;
 }


 .event-title-box {
   border-style: solid;
   border-width: 0.005rem;
   border-radius: 0.3rem;
   border-color: rgba(0, 0, 0, 0.3);
   /* top: 35vh; */
 }

 .event-summary-box {
   border-style: solid;
   border-width: 0.005rem;
   border-radius: 0.3rem;
   border-color: rgba(0, 0, 0, 0.3);
   /* margin-right: 10vh; */
   top: 3.5vh;
 }

 .event-description-box {
   border-style: solid;
   border-width: 0.005rem;
   border-radius: 0.3rem;
   border-color: rgba(0, 0, 0, 0.3);
   /* margin-right: 10vh; */
   top: 7.5vh;
 }

 .tag-area-box {

   border-style: solid;
   border-width: 0.005rem;
   border-radius: 0.3rem;
   border-color: rgba(0, 0, 0, 0.3);

   /* margin-top: 41vh; */
   margin-left: 3.5vh;
   width: 40rem;
   margin-top: 11.5vh;
 }

 #event-summary-label {
   font-size: 1.5rem;
   /* margin-right: 35vh; */
   top: 10vh;
 }

 .event-description-label {
   font-size: 1.5rem;
   /* margin-right: 35vh; */
   top: 50vh;
 }

 .accessibility-label-form {
   font-size: 1.7rem;
 }

 .date-time-container {
   /* margin-right: 2vh; */
   top: 20vh;
 }

 .time {
   display: flex;
   width: 30rem;
   border: solid;
   /* margin-left: 60vh; */
 }

 .date {
   display: flex;
   width: 30rem;
   border: solid;
   /* margin-left: 60vh; */

 }

 .create-event-card-container {
   display: flex;

 }

 /*
  .hidden {
    display: none;
    /* making it hidden by default */