.form-container {
    height: 70vh;
    width: 80vw;
    margin-top: 20vh;
    width: clamp(40%, 70%, 85%);
    display: flex;
    justify-content: center;
    place-items: center;
    background-color: black;
    box-shadow: 15px 15px 40px #141A44, -15px -15px 40px #1C235C;
  }
  #notes-input-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 90%;
  }
  #left-col-NoteForm {
    height: 80%;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
  }
  #right-col-NotesForm {
    height: 80%;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
  }
  #topic-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  #day-field {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  #week-field {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  #tags-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 0.005rem;
    border-radius: 0.3rem;
    border-color: rgba(0, 0, 0, 0.3);
  }
  .tag-row {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 0.5rem;
  }
  .check-label {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.6);
  }
  .generic-label-form {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 500;
  }
  #resources-label {
    font-size: 1.5rem;
  }
  #resources-field {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }
  #exit-button-form {
    align-self: flex-start;
    margin-top: 1rem;
  }
  #happy-to-help-field {
    width: 90%;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .tag-checkbox {
    width: 1.2rem;
    height: 1.2rem;
  }
  .notes-form-container {
    position: absolute;
    top: 0;
    height: 400vh;
    width: 100vw;
    z-index: 10;
    background-color: rgba(128, 128, 128, 0.7);
    /* color */
    display: flex;
    justify-content: center;
  }
  .hidden {
    display: none;
    /* making it hidden by default */
  }