* {
  margin: 0;
  padding: 0;
}

.page-header {
  background-color: var(--secondary);
  height: 6vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.navbutton {
  color: white;
  padding: 0 1.3rem;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  background-color: transparent;
}

/*.nav-bar a.active {
  background-color: #f64c72;
}*/

.menu-icon {
  color: white;
  cursor: pointer;
  display: none;
}
.navbar-logo {
  display: none;
}
.logo-background {
  display: none;
  background-image: linear-gradient(
    to right,
    var(--supporting-blue),
    var(--secondary)
  );
  width: 20vw;
  height: 6vh;
}

@media screen and (max-width: 850px) {
  .menu-icon {
    display: block;
    margin-right: 1rem;
  }

  .nav-bar {
    display: none;
    top: 3.7rem;
    left: 0;
    width: 100%;
    background-color: var(--secondary);
    text-align: center;
  }

  .nav-bar.responsive {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .logo-background {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
  }
  .navbar-logo {
    height: 100%;
    width: auto;
    display: block;
    left: 0;
  }
}

/* .navbutton {
  background-color: transparent;
  border: 0px;
} */

/*____________________________________________________________________________________________________*/
