.card-one {
  width: 90%;
  background: var(--secondary);
  color: var(--font-colour);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: 1rem;
  border-radius: 1.5rem;
  position: relative;
}
.card-one :hover {
  cursor: pointer;
}

.card-one > img {
  width: 100%;
  height: 9rem;
  border-radius: 1rem 1rem 0rem 0rem;
  object-fit: cover;
  transition: height 0.2s ease-out;
}

.card-one:hover > img {
  height: 15rem;
  transition: height 0.2s ease-out;
}

.bottom-event-section {
  padding: 0 15px 15px;
}

.event-name-box {
  height: 2.5rem;
  overflow: hidden;
}

.left-event-section {
  width: 70%;
}
.right-event-section {
  width: 30%;
}

.right-event-section {
  text-align: right;
}

.info-split {
  display: flex;
  justify-content: space-between;
}

.tags-div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.tags-div > .tag-box > p {
  background-color: var(--primary);
  color: var(--font-colour-secondary);
  padding: 5px;
  border-radius: 5px;
  font-size: x-small;
}

@media only screen and (max-device-width: 375px) {
  .card-one-text p {
    font-size: x-small;
  }
}
