.friend-card-one {
  background: var(--secondary);
  font-size: small;
  width: 90%;
  height: 10rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  transition: all 0.5s;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  border: solid;
}

.friend-card-one:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
  height: 10.5rem;
}

.friend-card-one-image {
  width: 100%;
  height: 40%;
  object-fit: cover;
  background-position: center, center;
  border-top-right-radius: 0.7rem;
  border-top-left-radius: 0.7rem;
}

.friend-card-one-text {
  display: flex;
  min-height: 1rem;
  height: 100%;
  width: 100%;
  text-overflow: ellipsis;
}

.friend-name-box {
  height: 1.5rem;
  margin-bottom: 0.3rem;
}

.right-friend-section p {
  margin-top: 0.5rem;
  font-weight: bold;
  justify-self: flex-end;
}

.friend-pic {
  width: auto;
  height: 75%;
  align-items: center;
  border-radius: 50%;
  object-fit: cover;
  background-position: center, center;
  margin: 1.25rem;
}

.friend-name {
  display: flex;
  padding: 4rem 12rem;
  font-size: 1.75vh;
  color: white;
}
